.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 600px;
  position: relative;
}

@media (max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 16px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}
